@import url('https://fonts.googleapis.com/css?family=Work+Sans:900');




.random-word {
  display: inline-block;
  text-transform: uppercase;
  color: #BBAADD;
  letter-spacing: 3px;
  width: auto;
  font-size: 30px;
  font-family: fantasy;
  color: white;
/*   transition: all 1.25s; */
  animation: slidedown 4s infinite;
  -webkit-animation: slidedown 4s infinite;
  -moz-animation: slidedown 4s infinite;
}

.logo{
    border-radius: 20px;

}

.grd{
    font-size: 15px;
}

@keyframes slidedown {
  0% {
    opacity: 50;
  }
  
  5% {
    opacity: 0;
    transform: translateY(0.5em);
  }
  
  7% {
    transform: translateY(-1em);
  }
  
  10% {
    opacity: 0;
  }
  
  20% {
    transform: translateY(0);
    opacity: 100;
  }
}


#couleur
 {
     height: auto;
     width: auto;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin: 50px;
    color: white;
    text-align: center;

}
#couleur h1{padding: 20px;font-family: Typewriter;font-size: 50px;letter-spacing: 5px;}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.description{
    margin-left: 60px;
    top: 10%;
    left: 10%;
}
.description img{
  padding: 35px;
}

.pieds
{
  margin-bottom: 0px;
  background-color: #dff0fd;
  height: auto;
}
.container
{
  height: auto;
  margin-top: 5%;
  padding: 10px;
 
}
.menu
{
  padding: 20px;
}
.menu .svg
{
  width: 100%;
}
 .carte
{
  margin-left: 0px;
  box-shadow: 0 6px 6px -6px black;
  height: auto;
  background-color: #dff0fd;
  width: 20%;
  opacity: 0.8;
}


.card-title
{
  font-size: 30px;
  font-family: sans-serif;
}

.card-text
{
  font-size: 20px;
  font-family: monospace;
}

.random-word{
  margin-left: 0px;
}

.rowcarte
{
  margin: 10px; 
}

.pieds a{
  color: black;
  text-decoration: none;
  padding: 12px;
}

.pieds a:link, a:visited
{
  text-decoration: none;
}
.emo
{
	padding:12px;
}
